<title>{{ page.title }}</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta name="robots" content="index,follow" />
<meta name="description" content="a blog from vincent landgraf" />
<meta name="author" content="vincent landgraf" />
<meta name="keywords" content="ruby blog" />
<meta name="date" content="{{ site.time | date_to_xmlschema }}" />
<meta http-equiv="Content-language" content="en_EN" />

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

<link rel="alternate" type="application/atom+xml" title="Sitewide ATOM Feed" href="/feeds/atom.xml" />
<link rel="alternate" type="application/rss+xml"  title="SItewide RSS Feed" href="/feeds/rss.xml" />
