@import url(syntax.css);
* {
  margin: 0px;
  padding: 0px; }

body {
  background: url("../images/background.jpg") fixed;
  font-size: 12pt;
  color: #333; }
  body a {
    color: #2a0806;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px black; }
    body a:hover {
      color: #726243; }
  body pre {
    padding: 10px;
    font-family: "Menlo", "Monaco", "Bitstream Vera Sans Mono", "DejaVu Mono", monospace;
    font-size: 10pt;
    letter-spacing: -1px;
    line-height: 120%;
    margin-top: 10px;
    background: #2a0806;
    color: white;
    box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    overflow-x: auto; }
  body img {
    box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    text-align: center;
    display: block;
    margin: 10px auto; }
  body iframe {
    margin-top: 10px;
    width: 100%;
    box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    display: block; }
  body object {
    margin-top: 10px; }
  body > div.header {
    margin-bottom: 20px;
    height: 200px;
    width: 300px;
    position: fixed; }
    body > div.header div.logo {
      padding-top: 100px;
      background: 29px 100px url("../images/logo.png") no-repeat;
      height: 100px;
      width: 300px; }
    body > div.header div.title {
      margin-right: 30px;
      text-align: right;
      font-size: 36px;
      letter-spacing: -3px; }
  body div.sidebar div ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
  body div.sidebar div.section-posts {
    width: 280px;
    height: 100%;
    margin: 270px 20px 100px 20px;
    position: fixed;
    overflow-y: auto; }
  body div.sidebar div.section-page {
    position: fixed;
    bottom: 20px; }
    body div.sidebar div.section-page ul li {
      margin-left: 20px;
      float: left;
      letter-spacing: -1px; }
  body div.content {
    margin-left: 300px;
    line-height: 180%;
    background: rgba(255, 255, 255, 0.5);
    font-family: "Georgia", Times, serif;
    display: block;
    padding: 0 30px; }
    body div.content div.article ul {
      margin-left: 20px;
      margin-top: 10px; }
    body div.content div.article h1 {
      padding-top: 30px;
      font-size: 16pt; }
    body div.content div.article ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      body div.content div.article ul li {
        background: 0 6px url("../images/menu.png") no-repeat;
        display: block;
        padding-left: 30px;
        line-height: 180%; }
    body div.content div.article div.details {
      font-size: 13pt; }
      body div.content div.article div.details p {
        margin-top: 20px; }
    body div.content div.article div.meta {
      float: right;
      padding-top: 10px;
      font-size: 10pt; }
    body div.content div.article div.comments {
      padding-bottom: 30px;
      border-bottom: 1px solid #796459; }
  body div.footer {
    background: rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 300px;
    padding-bottom: 20px;
    font-size: 10pt; }
