---
layout: nil
---

@import "syntax.css";

* {
  margin: 0px;
  padding: 0px;
}

$spacing: 20px;
//$link-color: #726243;
$link-color: #2A0806;
$background-color: white;

@mixin shadow($color: #000000, $blur: 5px, $hoff: 0px, $voff: 0px) {
  box-shadow: $hoff $voff $blur $color;
  -webkit-box-shadow: $hoff $voff $blur $color;
  -moz-box-shadow: $hoff $voff $blur $color;
}

@mixin background-box {
  background: rgba($background-color, 0.5);
  display: block;
  padding: $spacing;
  @include shadow;
}

body {
  background: url("../images/background.jpg") fixed;
  font-size: 12pt;
  color: #333;
  padding: $spacing;
  
  a {
    color: $link-color;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px darken($link-color, 20%);

    &:hover {
      //color: lighten($link-color, 30%);
      color: #726243;
    }
  }

  pre {
    padding: $spacing / 2;
    font-family: "Menlo", "Monaco", "Bitstream Vera Sans Mono", "DejaVu Mono", monospace;
    font-size: 10pt;
    letter-spacing: -1px;
    line-height: 120%;
    margin-top: $spacing / 2;
    background: $link-color;
    color: $background-color;
    @include shadow;
  }
  
  img {
    @include shadow;
    text-align: center;
    display: block;
    margin: $spacing / 2 auto;
  }
  
  object {
    margin-top: $spacing / 2;
  }
  
/*  * {
    border: 1px solid #333;
    background: #ccc;
  }*/
  
  $header_height: 120px;
  
  > div.header {
    margin-bottom: $spacing;
    height: $header_height;
    
    div.logo {
      position: absolute;
      top: $spacing * 1.5;
      right: $spacing;
      background: url("../images/logo.png") no-repeat;
      height: $header_height;
      width: 241px;
    }
        
    div.title {
      font-size: $header_height * 0.28;
      padding-top: $header_height * 0.7;
    }
  }
  
  div.sidebar {
    width: 300px - $spacing;
    top: $header_height + $spacing * 2;
    right: 0px;
    position: absolute;
    margin-right: $spacing;
    //position: fixed;
    
    div.section {
      @include background-box;
      margin-bottom: $spacing;

      ul {
        list-style-type: none;
        
        li {
          background: 0 6px url("../images/menu.png") no-repeat;
          display: block;
          padding-left: $spacing * 1.5;
          line-height: 180%;
        }
      }
    }
  }
  
  div.content {
    margin-right: 300px;
    line-height: 180%;
    //letter-spacing: 1px;
    font-family: "Georgia", Times, serif;
    
    div.article {
      @include background-box;
      
      ul {
        margin-left: $spacing;
        margin-top: $spacing / 2;
      }
      
      h1 {
        font-size: 16pt;
      }
      
      div.details {
        font-size: 13pt;
        
        p {
          margin-top: $spacing;
        }
      }
      
      div.meta {
        text-align: right;
      }
      
      div.comments {
        border-top: 1px solid rgba($link-color, 0.5);
      }
      
      margin-bottom: $spacing;
    }
  }
  
  div.footer {
    margin-top: $spacing;
    font-size: 10pt;
    
    div.powered {
    }
    
    div.copyright {
    }
  }
}
