<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    {% include navigation.html %}
    <div class="content">
      <div class="article">
        <h1>{{ page.title }}</h1>
        <div class="details">
          {{ content }}
        </div>
        <div class="meta">
          <em>Posted on {{ page.date | date_to_long_string }}.</em>
        </div>
        <div class="comments">
          <a href="{{ site.blog.url }}{{ page.url }}#disqus_thread">
            View Comments
          </a>
          <div id="disqus_thread"></div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script type="text/javascript" src="http://disqus.com/forums/vilandgr/embed.js"></script>
  </body>
</html>
